<div class="form-conteainer ">
<div class="alert alert-danger" *ngIf="msgError">
    {{msgError}}
</div>
<form #loginform="ngForm" (ngSubmit)="handleSubmit(loginform)"  >
    
    <div class="row gy-4 mt-4">
        <div class="col-12 col-6">
            <input type="text" placeholder="enter Name" class="form-control "
             [(ngModel)]="userData.userName" name="userName"  #name = "ngModel" required minlength="5">
             <div class="alert alert-danger" *ngIf="loginform.submitted && name.invalid">
                <div *ngIf="email.errors?.['required']">Name is required</div>
                <div *ngIf="email.errors?.['minlength']">min length = 5</div>
             </div>
        </div>
        <div class="col-12 col-6">
            <input type="number" placeholder="enter your Age" class="form-control "
             [(ngModel)]="userData.age" name="age"  #age = "ngModel" required >
             <div class="alert alert-danger" *ngIf="loginform.submitted && name.invalid">
                <div *ngIf="email.errors?.['required']">Age is required</div>
             </div>
        </div>
        <div class="col-12 col-6">
            <input type="email" placeholder="enter Email" class="form-control "
             [(ngModel)]="userData.email" name="email" #email="ngModel" required email minlength="5">
             <div class="alert alert-danger" *ngIf="loginform.submitted && email.invalid">
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['email']">Invalid Email</div>
                <div *ngIf="email.errors?.['minlength']">min length = 5</div>
             </div>
        </div>

        <div class="col-12 col-6">
            <input type="password" placeholder="enter password" class="form-control " 
            [(ngModel)]="userData.password" name="password" #password="ngModel"
             required (input)="msgError = null" >
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || loginform.submitted )">
                <div *ngIf="password.errors?.['required']">password is required</div>
            </div>
        </div>
          <div ngModelGroup="address" >
            <div class="col-12 col-md-4 w-100" >
                <input type="text" placeholder="city" name="city" [(ngModel)]="userData.address.city"class="form-control  w-100" >
            </div>
            <div class="col-12 col-md-4 w-100 mt-4">
                <input type="text" placeholder="country" name="country"  [(ngModel)]="userData.address.country"  class="form-control w-100 " >
            </div>
        </div>
        <div class="col-12 col-md-4 w-100" >
        <h3>your gender</h3>
        <div class="form-check">
            <input class="form-check-input" type="radio"  id="Male" name="gender" value="Male" [(ngModel)]="userData.gender">
            <label class="form-check-label" for="Male">
             Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"  id="Female" name="gender"  value="Female" [(ngModel)]="userData.gender">
            <label class="form-check-label" for="Female">
              Female
            </label>
          </div>
        </div>

        <div class="col-12 col-md-4 w-100" >
          <h3>what you want to be ??</h3>
          <div class="form-check">
            <input class="form-check-input" type="radio"  id="Owner" name="userType" value="Owner"[(ngModel)]="userData.userType">
            <label class="form-check-label" for="Owner">
                Restaurant Owner
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"  id="User" name="userType"  value="User" [(ngModel)]="userData.userType">
            <label class="form-check-label" for="User">
                User
            </label>
          </div>
        </div>
            <button class="btn ">Register</button>
    </div>
</form>
</div>