header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0, 0,0, 0.1);
}
header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--red);
  cursor: pointer;
}
header .navbar ul .listItem , header .navbar ul .listItem a{
  font-size: 2rem;
  margin-left: 2rem;
  vertical-align: middle;
  color: #666;
  text-decoration: none;
  display: inline;
  cursor: pointer;
}
header .navbar ul li:hover , header .navbar ul li a:hover{
  color: var(--red);
}
#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color: #666;
  border: .1rem solid #666;
  border-radius: .3rem;
  padding: .5rem 1.5rem;
  display: none;
}

.dropdown-item{
  display: block ;
  font-size: 1.5rem ;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .listItem{
    display: none !important;
  }
  .show{
    display: inline-block !important;
  }
  #menu-bar{
    display: block;
  }
  .dropdown-item{
    display: block ;
    font-size: 1.5rem ;
    padding: 1rem;
    margin: auto;
  }
}