
  <header  *ngIf="!admen.isAdmen">
    <div class="logo" routerLink="">Otlob</div>
    <nav class="navbar">
      <ul class="hidden">
        <li  class="listItem" [routerLink]="['restaurants']" ><a>Restaurants</a></li>
        <li class="listItem" [routerLink]="['products']" ><a>Products</a></li>
        <li  class="listItem" *ngIf="!user.isLogin" routerLink="/login"><a>Log in</a></li>
        <li  class="listItem show" *ngIf="user.isLogin" ><a (click)="handleClick()" routerLink="">Log Out</a></li>
        <li  class="listItem"routerLink="register"   *ngIf="!user.isLogin"><a>Register</a></li>
      </ul>
      <app-avatar *ngIf="user.isLogin"></app-avatar>
      <div id="menu-bar"  class=" fas fa-bars  mx-5 " data-bs-toggle="dropdown" aria-expanded="false"  *ngIf="!user.isLogin">
        <ul class="dropdown-menu dropdown-menu-end">
          <li class="dropdown-item" [routerLink]="['restaurants']" ><a>Restaurants</a></li>
          <li class="dropdown-item"  [routerLink]="['products']" ><a>Products</a></li>
          <li class="dropdown-item"  routerLink="/login"><a>Log in</a></li>
          <li class="dropdown-item"  routerLink="register" ><a> Register</a></li>

        </ul>
      </div>
    </nav>
    </header>