<div class="alert alert-danger" *ngIf="msgError">
    {{msgError}}
</div>
<div class="container">
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img [src]="img" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="btn ">
                    <label for="inputTag">
                        add Image
                        <input id="inputTag" type="file" (change)="handleChange($event)" required />
                    </label></a>
            </div>
    
        </div>
<div class="form-conteainer " >
<form #loginform="ngForm" (ngSubmit)="handleSubmit(loginform)">
    <div class="row gy-4 mt-4">
        <div class="col-12 col-6">
            <input type="text" placeholder="enter the Restaurant Name" class="form-control "
             [(ngModel)]="restaurantData.title" name="title"  #title = "ngModel" required minlength="5">
             <div class="alert alert-danger" *ngIf="loginform.submitted && title.invalid">
                <div *ngIf="title.errors?.['required']">Name is required</div>
             </div>
        </div>
        <div class="col-12 col-6">
            <input type="text" placeholder="enter your description" class="form-control "
             [(ngModel)]="restaurantData.details" name="details"  #details = "ngModel" required  minlength="5">
             <div class="alert alert-danger" *ngIf="loginform.submitted && details.invalid" >
                <div *ngIf="details.errors?.['required']">description is required</div>
                <div *ngIf="details.errors?.['minlength']">min length = 5</div>
             </div>
        </div>
    <button class="btn " *ngIf="createNewOne" >Create</button>
    <button class="btn " *ngIf="!createNewOne" >update</button>
    </div>
</form>
</div>
</div>